//  Spaces Custom Settings for the KISD instance
//  -----------------------------
//
//  Table of Contents:
//
//   1. Mixins
//   2. Menu
//   X. DEV

// 1. Mixins
// ---------

// 2. Menu
// ---------
@include breakpoint(small down) {
  .main-menu .menu {
    & > li {
      &.navbar-icon {
        & > a > b {
          height: 0.6875rem;
        }
      }
    }
  }
}

// X. DEV
.menu-main-expand .is-dropdown-submenu {
  // display: block !important;
}

body {
  overflow-x: hidden;
}
$timing: 500;
$delay: $timing / 20;
$items: 10;
$delay_total: $delay * $items;
$scale: .95;
$h-offset: 200px;
$v-offset: 0;
.spaces__content {
	overflow: hidden;
	position: relative;
}
.spaces__posts,
.spaces__pages {
  position: absolute;
  width: 100%;
	transition: all #{$timing}ms;
	transition-timing-function: ease-in-out;
	transform-origin: 50% 0;
	& > .grid-x > .cell {
		transition-timing-function: cubic-bezier(.1,.9,.2,1);
		transition: all #{$timing}ms;
	}
}

.spaces__posts {
	// transform: translateX(0);
	// transition-delay: #{$delay_total}ms;
	z-index: 1;
	pointer-events: auto;
	& > .grid-x > .cell {
		@for $i from 1 through $items {
			$number: $i * $delay + $delay * $items;
			$item: $i;
			&:nth-child(#{$item}) {
				transition-delay: #{$number}ms;
			}
		}
	}
}
.spaces__pages {
	transform: scale($scale);
	z-index: 0;
	pointer-events: none;
	& > .grid-x > .cell {
		transform: translateX($h-offset) translateY($v-offset) scale($scale);
		opacity: 0;
		@for $i from 1 through $items {
			$number: $i * $delay;
			// $item: 1 + $items - $i;
			$item: $i;
			&:nth-child(#{$item}) {
				transition-delay: #{$number}ms;
			}
		}
	}
}

.show-pages {
	.spaces__posts {
		transform: scale($scale);
		z-index: 0;
		pointer-events: none;
		& > .grid-x > .cell {
			transform: translateX(-#{$h-offset}) translateY($v-offset) scale($scale);
			opacity: 0;
			@for $i from 1 through $items {
				$number: $i * $delay;
				// $item: 1 + $items - $i;
				$item: $i;
				&:nth-child(#{$item}) {
					transition-delay: #{$number}ms;
				}
			}
		}
	}
	.spaces__pages {
		transform: scale(1);
		z-index: 1;
		pointer-events: auto;
		& > .grid-x > .cell {
			transform: translateX(0) translateY(0) scale(1);
			opacity: 1;
			@for $i from 1 through $items {
				$number: $i * $delay + $delay * $items;
				$item: $i;
				&:nth-child(#{$item}) {
					transition-delay: #{$number}ms;
				}
			}
		}
	}
}

.widget_eo_scheduler_widget {
	&>.card, &>.accordion {
		background: none;
	}
}
.event-info {
	padding: $button-padding;
}

.overview {
  .event-item {
    &:hover {
      background-color: #fafafa;
		}
  }
}
.miniview {
	.card {
		box-shadow: none;
		background: none;
	}
	.card-divider {
		border-color: transparent;
	}
	.event-item {
		flex: 1 1 100%;
		@include breakpoint(medium) {
			flex: 1 1 50%;
		}
	}
}
.eo-magnific-container {
	.reveal {
		display: block;
		@include breakpoint(medium down) {
			max-width: calc(100% - 2 * #{$global-gutter-small});
			height: initial;
			min-height: initial;
			margin: $global-gutter-small auto;
			border-radius: $global-radius;
		}
	}
}
.mfp-container {
	padding: 0 !important;
}






.search {
	.s-fg-c1-hover, .s-fg-c1-hover:hover, .s-fg-c1-active:active {
		.tt-menu {
			color: initial;
		}
	}
}
.sf-switch-to {
	position: absolute;
	right: -50px;
	background: $card-background;
	opacity: 0;
	pointer-events: none;
	transition: $global-transition-medium ease-in-out;
	&>a {
		box-shadow: 0 0 0 nth($hr-border, 1) nth($hr-border, 3);
		border-radius: $global-radius 0 0 $global-radius;
		display: flex;
		align-items: center;
		transition: $global-transition-medium ease-in-out;
		&:hover {
			box-shadow: $global-drop-shadow;
			background: $card-background !important;
		}
	}
	.user:hover & {
		right: 0;
		opacity: 1;
		pointer-events: all;
	}
}


.customize-partial-edit-shortcut, .widget .customize-partial-edit-shortcut {
	position: relative;
	float: right;

	.current .space-header &.customize-partial-edit-shortcut-header_image {
		position: absolute;
		right: calc(25px + 0.75rem);
		bottom: calc(15px + 0.75rem);
	}
	button {
		left: -5px !important;
		top: -15px;
	}
}
