//  Spaces Custom Settings for the KISD instance
//  -----------------------------
//
//  Table of Contents:
//
//   1. Mixins



// 1. Mixins
// ---------

@mixin foundation-palette($selector, $prepend: '', $property: 'color', $colors: ('primary', 'secondary', 'success', 'warning', 'alert')) {
  @each $color in $colors {
    #{$prepend}.#{$color} #{$selector} {
      #{$property}: get-color($color);
    }
  }
}

@mixin foundation-palette-hover($selector, $prepend: '', $colors: ('primary', 'secondary', 'success', 'warning', 'alert')) {
  @each $color in $colors {
    #{$prepend}.#{$color} #{$selector} {
      color: get-color($color);
      background: none;
      #{$prepend}:hover {
        color: scale-color(get-color($color), $lightness: -15%);
      }
    }
  }
}
@mixin crossBrowser($property, $val) {
  -webkit-#{$property}: $val;
  -moz-#{$property}: $val;
  -ms-#{$property}: $val;
  #{$property}: $val;
}

// 2. Grid
// ---------
@include breakpoint(small down) {
  .main-menu .menu {
    &>li {
      &.navbar-icon {
        &>a>b {
          height: 0.6875rem;
        }
      }
    }
  }
}


// DEV
.menu-main-expand .is-dropdown-submenu {
  display: block !important;
}