//  Spaces Custom Settings for the KISD instance
// @todo don't do this. move things to the appropriate places.
// If you need gutter, transitions, ... make helper classes and assignt them in the theme..
//  -----------------------------
//
//  Table of Contents:
//
//   1. Mixins
//   2. Menu
//   X. DEV

// 1. Mixins
// ---------

// 2. Menu
// ---------

.eo-magnific-container {
	.reveal {
		display: block;
		@include breakpoint(medium down) {
			max-width: calc(100% - 2 * #{$global-gutter-small});
			height: initial;
			min-height: initial;
			margin: $global-gutter-small auto;
			border-radius: $global-radius;
		}
	}
}
.mfp-container {
	padding: 0 !important;
}


.search {
	.s-fg-c1-hover, .s-fg-c1-hover:hover, .s-fg-c1-active:active {
		.tt-menu {
			color: initial;
		}
	}
}
