/**
"
this description is currently obsolete...
masonry-item" needs to recive the height of the first/second-swap container via js.
toggle the class show-first and show-second to toggle visibility.

<div class="masonry-item swap-container-parent show-first">
	<div class="this-is-needed">
		<div class="first-swap-container">
		</div>
		<div class="second-swap-container">
		</div>
	</div>
</div>
**/

$timing: 100;
$delay: $timing / 2;
$items: 0;
$delay_total: $delay * $items;
$scale: 1;
$h-offset: 0;
$v-offset: 0;

.swap-container-parent {

}
.first-swap-container,
.second-swap-container {
	display: none;
}


.show-second .second-swap-container,
.show-first .first-swap-container {
	display: block;
	pointer-events: auto;
}

