// this is a partial copy of the foundation-global-styles mixin.

// Default body styles
body {
	margin: 0;
	padding: 0;
	background: $body-background;
	font-family: $body-font-family;
	font-weight: $global-weight-normal;
	line-height: $global-lineheight;
	color: $body-font-color;

	@if ($body-antialiased) {
		-webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
		-moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
	}
}

img {
	// Get rid of gap under images by making them display: inline-block; by default
	display: inline-block;
	vertical-align: middle;

	// Grid defaults to get images and embeds to work properly
	max-width: 100%;
	height: auto;
	interpolation-mode: bicubic;
}

// Make sure textarea takes on height automatically
textarea {
	height: auto;
	min-height: 50px;
	border-radius: $global-radius;
}

// Make select elements are 100% width by default
select {
	box-sizing: border-box;
	width: 100%;
	border-radius: $global-radius;
}

// Styles Google Maps and MapQuest embeds properly
// sass-lint:disable-line no-ids
.map_canvas,
.mqa-display {
	img,
	embed,
	object {
		max-width: none !important;
	}
}

// Reset <button> styles created by most browsers
button {
	@include disable-mouse-outline;

	padding: 0;
	appearance: none;
	border: 0;
	border-radius: $global-radius;
	background: transparent;
	line-height: 1;
	cursor: $global-button-cursor;
}

// Prevent text overflow on pre
pre {
	overflow: auto;
}

// Make reset inherit font-family instead of settings sans-serif
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
}

// Internal classes to show/hide elements in JavaScript
.is-visible {
	display: block !important;
}

.is-hidden {
	display: none !important;
}
