
* {
    color: white;
}

html {
    scroll-behavior: smooth;
}

.name{
    font-family:"Helvetica Neue", Arial, sans-serif,;  
    font-size:5rem;  
    text-align: start;
    margin-top: 10rem;
    margin-left: 1rem;

}
.job{
    margin-left: 6rem;
    margin-top: 3rem;
    text-align: start; 
    font-size: 3rem;
}