$white-color-variable: white;

a {
    color: $white-color-variable;
}

.skills-grid{
    padding: 4rem;
    
}
.margin-technical skills{
    margin-bottom: 0.5rem;
}
.title-skills{
    padding-top: 2rem;
}
.skills-margin{
    margin-bottom: 1rem;
    
  }
  .contact-div{
    text-align: center;
    padding-top: 15rem;
  }
  
  .media-button{
    margin-left: 1.5rem;
  } 