.DS_Store
bower_components
npm-debug.log
*.code-workspace
vendor/

# exclude all subdirectories + files
node_modules/**
# include all directories, not files (empty dirs are not tracked via git)
!node_modules/**/
!node_modules/foundation-sites/dist/js/foundation.min.js
!node_modules/what-input/dist/what-input.min.js